@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

button, :link, :visited { color: blue !important }
button:disabled { color: gray !important }